In [1]:
import pandas as pd
import numpy as np
from pandas import datetime

In [2]:
# Combining all blocks
for num in range(0,112):
    df = pd.read_csv("D:/Project/smart-meters-in-london/daily_dataset/block_"+str(num)+".csv")
    df = df[['day','LCLid','energy_sum']]
    df.reset_index()
    df.to_csv("D:/Project/smart-meters-in-london/outputfiles2/hc_"+str(num)+".csv",index=False)

fout= open("D:/Project/smart-meters-in-london/outputfiles2/energy.csv","a")
# first file:
for line in open("D:/Project/smart-meters-in-london/outputfiles2/hc_0.csv"):
    fout.write(line)
# now the rest:    
for num in range(0,112):
    f = open("D:/Project/smart-meters-in-london/outputfiles2/hc_"+str(num)+".csv")
    f.readline() # skip the header
    for line in f:
         fout.write(line)
    f.close()
fout.close()

Energy at Day Level

In [3]:
energy = pd.read_csv('D:/Project/smart-meters-in-london/outputfiles2/energy.csv')

In [4]:
energy.head(5)

          day      LCLid  energy_sum
0  2012-10-12  MAC000002       7.098
1  2012-10-13  MAC000002      11.087
2  2012-10-14  MAC000002      13.223
3  2012-10-15  MAC000002      10.257
4  2012-10-16  MAC000002       9.769

In [5]:
energy.LCLid.unique()

array(['MAC000002', 'MAC000246', 'MAC000450', ..., 'MAC004570',
       'MAC004587', 'MAC004828'], dtype=object)

In [6]:
len(energy)

3536007

In [7]:
energy.day=pd.to_datetime(energy.day,format='%Y-%m-%d').dt.date

In [8]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3536007 entries, 0 to 3536006
Data columns (total 3 columns):
day           object
LCLid         object
energy_sum    float64
dtypes: float64(1), object(2)
memory usage: 80.9+ MB

# Weather Information
Daily level weather information is taken using darksky api in the datase

In [9]:
weather = pd.read_csv('D:/Project/smart-meters-in-london/weather_daily_darksky.csv')
weather.head(4)

,temperatureMax,temperatureMaxTime,windBearing,icon,dewPoint,temperatureMinTime,cloudCover,windSpeed,pressure,apparentTemperatureMinTime,...,temperatureHigh,sunriseTime,temperatureHighTime,uvIndexTime,summary,temperatureLowTime,apparentTemperatureMin,apparentTemperatureMaxTime,apparentTemperatureLowTime,moonPhase
0,11.96,2011-11-11 23:00:00,123,fog,9.40,2011-11-11 07:00:00,0.79,3.88,1016.08,2011-11-11 07:00:00,...,10.87,2011-11-11 07:12:14,2011-11-11 19:00:00,2011-11-11 11:00:00,Foggy until afternoon.,2011-11-11 19:00:00,6.48,2011-11-11 23:00:00,2011-11-11 19:00:00,0.52
1,8.59,2011-12-11 14:00:00,198,partly-cloudy-day,4.49,2011-12-11 01:00:00,0.56,3.94,1007.71,2011-12-11 02:00:00,...,8.59,2011-12-11 07:57:02,2011-12-11 14:00:00,2011-12-11 12:00:00,Partly cloudy throughout the day.,2011-12-12 07:00:00,0.11,2011-12-11 20:00:00,2011-12-12 08:00:00,0.53
2,10.33,2011-12-27 02:00:00,225,partly-cloudy-day,5.47,2011-12-27 23:00:00,0.85,3.54,1032.76,2011-12-27 22:00:00,...,10.33,2011-12-27 08:07:06,2011-12-27 14:00:00,2011-12-27 00:00:00,Mostly cloudy throughout the day.,2011-12-27 23:00:00,5.59,2011-12-27 02:00:00,2011-12-28 00:00:00,0.10
3,8.07,2011-12-02 23:00:00,232,wind,3.69,2011-12-02 07:00:00,0.32,3.00,1012.12,2011-12-02 07:00:00,...,7.36,2011-12-02 07:46:09,2011-12-02 12:00:00,2011-12-02 10:00:00,Partly cloudy throughout the day and breezy ov...,2011-12-02 19:00:00,0.46,2011-12-02 12:00:00,2011-12-02 19:00:00,0.25

In [10]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 32 columns):
temperatureMax                 882 non-null float64
temperatureMaxTime             882 non-null object
windBearing                    882 non-null int64
icon                           882 non-null object
dewPoint                       882 non-null float64
temperatureMinTime             882 non-null object
cloudCover                     881 non-null float64
windSpeed                      882 non-null float64
pressure                       882 non-null float64
apparentTemperatureMinTime     882 non-null object
apparentTemperatureHigh        882 non-null float64
precipType                     882 non-null object
visibility                     882 non-null float64
humidity                       882 non-null float64
apparentTemperatureHighTime    882 non-null object
apparentTemperatureLow         882 non-null float64
apparentTemperatureMax         882 non-null float64
uvIndex                        881 non-null float64
time                           882 non-null object
sunsetTime                     882 non-null object
temperatureLow                 882 non-null float64
temperatureMin                 882 non-null float64
temperatureHigh                882 non-null float64
sunriseTime                    882 non-null object
temperatureHighTime            882 non-null object
uvIndexTime                    881 non-null object
summary                        882 non-null object
temperatureLowTime             882 non-null object
apparentTemperatureMin         882 non-null float64
apparentTemperatureMaxTime     882 non-null object
apparentTemperatureLowTime     882 non-null object
moonPhase                      882 non-null float64
dtypes: float64(16), int64(1), object(15)
memory usage: 220.6+ KB

In [11]:
weather['day']=  pd.to_datetime(weather['time']) # day is given as timestamp
weather['day']=  pd.to_datetime(weather['day'],format='%Y%m%d').dt.date

In [12]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 33 columns):
temperatureMax                 882 non-null float64
temperatureMaxTime             882 non-null object
windBearing                    882 non-null int64
icon                           882 non-null object
dewPoint                       882 non-null float64
temperatureMinTime             882 non-null object
cloudCover                     881 non-null float64
windSpeed                      882 non-null float64
pressure                       882 non-null float64
apparentTemperatureMinTime     882 non-null object
apparentTemperatureHigh        882 non-null float64
precipType                     882 non-null object
visibility                     882 non-null float64
humidity                       882 non-null float64
apparentTemperatureHighTime    882 non-null object
apparentTemperatureLow         882 non-null float64
apparentTemperatureMax         882 non-null float64
uvIndex                        881 non-null float64
time                           882 non-null object
sunsetTime                     882 non-null object
temperatureLow                 882 non-null float64
temperatureMin                 882 non-null float64
temperatureHigh                882 non-null float64
sunriseTime                    882 non-null object
temperatureHighTime            882 non-null object
uvIndexTime                    881 non-null object
summary                        882 non-null object
temperatureLowTime             882 non-null object
apparentTemperatureMin         882 non-null float64
apparentTemperatureMaxTime     882 non-null object
apparentTemperatureLowTime     882 non-null object
moonPhase                      882 non-null float64
day                            882 non-null object
dtypes: float64(16), int64(1), object(16)
memory usage: 227.5+ KB

In [13]:
weather.head(4)

,temperatureMax,temperatureMaxTime,windBearing,icon,dewPoint,temperatureMinTime,cloudCover,windSpeed,pressure,apparentTemperatureMinTime,...,sunriseTime,temperatureHighTime,uvIndexTime,summary,temperatureLowTime,apparentTemperatureMin,apparentTemperatureMaxTime,apparentTemperatureLowTime,moonPhase,day
0,11.96,2011-11-11 23:00:00,123,fog,9.40,2011-11-11 07:00:00,0.79,3.88,1016.08,2011-11-11 07:00:00,...,2011-11-11 07:12:14,2011-11-11 19:00:00,2011-11-11 11:00:00,Foggy until afternoon.,2011-11-11 19:00:00,6.48,2011-11-11 23:00:00,2011-11-11 19:00:00,0.52,2011-11-11
1,8.59,2011-12-11 14:00:00,198,partly-cloudy-day,4.49,2011-12-11 01:00:00,0.56,3.94,1007.71,2011-12-11 02:00:00,...,2011-12-11 07:57:02,2011-12-11 14:00:00,2011-12-11 12:00:00,Partly cloudy throughout the day.,2011-12-12 07:00:00,0.11,2011-12-11 20:00:00,2011-12-12 08:00:00,0.53,2011-12-11
2,10.33,2011-12-27 02:00:00,225,partly-cloudy-day,5.47,2011-12-27 23:00:00,0.85,3.54,1032.76,2011-12-27 22:00:00,...,2011-12-27 08:07:06,2011-12-27 14:00:00,2011-12-27 00:00:00,Mostly cloudy throughout the day.,2011-12-27 23:00:00,5.59,2011-12-27 02:00:00,2011-12-28 00:00:00,0.10,2011-12-27
3,8.07,2011-12-02 23:00:00,232,wind,3.69,2011-12-02 07:00:00,0.32,3.00,1012.12,2011-12-02 07:00:00,...,2011-12-02 07:46:09,2011-12-02 12:00:00,2011-12-02 10:00:00,Partly cloudy throughout the day and breezy ov...,2011-12-02 19:00:00,0.46,2011-12-02 12:00:00,2011-12-02 19:00:00,0.25,2011-12-02

In [14]:
weather.columns

Index(['temperatureMax', 'temperatureMaxTime', 'windBearing', 'icon',
       'dewPoint', 'temperatureMinTime', 'cloudCover', 'windSpeed', 'pressure',
       'apparentTemperatureMinTime', 'apparentTemperatureHigh', 'precipType',
       'visibility', 'humidity', 'apparentTemperatureHighTime',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex', 'time',
       'sunsetTime', 'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'sunriseTime', 'temperatureHighTime', 'uvIndexTime', 'summary',
       'temperatureLowTime', 'apparentTemperatureMin',
       'apparentTemperatureMaxTime', 'apparentTemperatureLowTime', 'moonPhase',
       'day'],
      dtype='object')

Selecting variables

In [15]:
weather = weather[['temperatureMax', 'windBearing', 'dewPoint', 'cloudCover', 'windSpeed',
       'pressure', 'apparentTemperatureHigh', 'visibility', 'humidity',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex',
       'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'apparentTemperatureMin', 'moonPhase','day']]
weather = weather.dropna()

In [16]:
weather.describe()

,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase
count,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000,881.000000
mean,13.662747,195.712826,6.529750,0.477605,3.577696,1014.151158,12.726016,11.168524,0.781782,6.088138,12.931271,2.542565,7.711169,7.415096,13.545471,5.740942,0.501487
std,6.185761,89.391048,4.833612,0.193514,1.690570,11.057077,7.283022,2.467169,0.095366,6.034694,7.109260,1.832985,4.873611,4.891550,6.263084,6.051567,0.286707
min,-0.060000,0.000000,-7.840000,0.000000,0.200000,979.250000,-6.460000,1.480000,0.430000,-8.880000,-4.110000,0.000000,-5.640000,-5.640000,-0.810000,-8.880000,0.000000
25%,9.490000,120.000000,3.180000,0.350000,2.370000,1007.450000,7.030000,10.350000,0.720000,1.510000,7.330000,1.000000,3.980000,3.700000,9.210000,1.100000,0.260000
50%,12.630000,219.000000,6.370000,0.470000,3.440000,1014.620000,12.480000,11.970000,0.790000,5.320000,12.630000,2.000000,7.540000,7.100000,12.480000,4.890000,0.500000
75%,17.920000,255.000000,10.060000,0.600000,4.570000,1021.760000,17.920000,12.830000,0.860000,11.470000,17.920000,4.000000,11.470000,11.280000,17.920000,11.280000,0.750000
max,32.400000,359.000000,17.770000,1.000000,9.960000,1040.920000,32.420000,15.340000,0.980000,20.540000,32.420000,7.000000,20.540000,20.540000,32.400000,20.540000,0.990000

# UK Bank Holidays

In [17]:
holiday = pd.read_csv('D:/Project/smart-meters-in-london/uk_bank_holidays.csv')
holiday.rename(columns={"Bank holidays":"day"})
holiday.columns = ["day","Type"]

In [18]:
holiday['day'] = pd.to_datetime(holiday['day'],format='%Y-%m-%d').dt.date
holiday.head(4)

          day                                          Type
0  2012-12-26                                    Boxing Day
1  2012-12-25                                 Christmas Day
2  2012-08-27                           Summer bank holiday
3  2012-05-06  Queen?s Diamond Jubilee (extra bank holiday)

In [19]:
len(holiday)

25

In [20]:
holiday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
day     25 non-null object
Type    25 non-null object
dtypes: object(2)
memory usage: 528.0+ bytes

# Household Information

In [21]:
household_info=pd.read_csv("D:/Project/smart-meters-in-london/informations_households.csv")

In [22]:
household_info.head(7)

       LCLid stdorToU    Acorn Acorn_grouped     file
0  MAC005492      ToU   ACORN-        ACORN-  block_0
1  MAC001074      ToU   ACORN-        ACORN-  block_0
2  MAC000002      Std  ACORN-A      Affluent  block_0
3  MAC003613      Std  ACORN-A      Affluent  block_0
4  MAC003597      Std  ACORN-A      Affluent  block_0
5  MAC003579      Std  ACORN-A      Affluent  block_0
6  MAC003566      Std  ACORN-A      Affluent  block_0

In [23]:
household_info.Acorn_grouped.unique()

array(['ACORN-', 'Affluent', 'Comfortable', 'Adversity', 'ACORN-U'],
      dtype=object)

In [24]:
len(household_info)

5566

#  Merging energy with weather

In [25]:
weather_energy =  energy.merge(weather,on='day')
weather_energy.head(2)

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase
0,2012-10-12,MAC000002,7.098,11.53,252,6.15,0.29,2.18,1004.92,11.53,12.94,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92
1,2012-10-12,MAC000246,17.245,11.53,252,6.15,0.29,2.18,1004.92,11.53,12.94,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92

In [26]:
weather_energy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3526707 entries, 0 to 3526706
Data columns (total 20 columns):
day                        object
LCLid                      object
energy_sum                 float64
temperatureMax             float64
windBearing                int64
dewPoint                   float64
cloudCover                 float64
windSpeed                  float64
pressure                   float64
apparentTemperatureHigh    float64
visibility                 float64
humidity                   float64
apparentTemperatureLow     float64
apparentTemperatureMax     float64
uvIndex                    float64
temperatureLow             float64
temperatureMin             float64
temperatureHigh            float64
apparentTemperatureMin     float64
moonPhase                  float64
dtypes: float64(17), int64(1), object(2)
memory usage: 565.0+ MB

In [27]:
weather_energy.to_csv("D:/Project/smart-meters-in-london/outputfiles2/weather_energy.csv",index = False)

#  Merging energy_weather with holiday

In [28]:
weather_energy_holiday = weather_energy.merge(holiday, left_on = 'day',right_on = 'day',how = 'left')

In [29]:
weather_energy_holiday.head(5)

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,Type
0,2012-10-12,MAC000002,7.098,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92,NaN
1,2012-10-12,MAC000246,17.245,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92,NaN
2,2012-10-12,MAC000450,91.267,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92,NaN
3,2012-10-12,MAC001074,23.145,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92,NaN
4,2012-10-12,MAC003223,15.783,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92,NaN

In [30]:
weather_energy_holiday.shape

(3526707, 21)

In [31]:
weather_energy_holiday.columns

Index(['day', 'LCLid', 'energy_sum', 'temperatureMax', 'windBearing',
       'dewPoint', 'cloudCover', 'windSpeed', 'pressure',
       'apparentTemperatureHigh', 'visibility', 'humidity',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex',
       'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'apparentTemperatureMin', 'moonPhase', 'Type'],
      dtype='object')

In [32]:
weather_energy_holiday["Type"].unique()

array([nan, 'Christmas Day', 'Boxing Day', 'New Year?s Day',
       'Easter Monday', 'Good Friday', 'Spring bank holiday',
       'Early May bank holiday', 'Summer bank holiday',
       'New Year?s Day (substitute day)',
       'Spring bank holiday (substitute day)',
       'Queen?s Diamond Jubilee (extra bank holiday)'], dtype=object)

In [33]:
weather_energy_holiday['Isholiday'] = np.where(weather_energy_holiday['Type'].isna(),0,1)

In [34]:
weather_energy_holiday.tail(10)

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,Type,Isholiday
3526697,2011-11-27,MAC000151,4.553,13.54,256,5.76,0.42,5.48,1021.11,13.54,...,1.31,13.54,1.0,1.31,4.47,13.54,2.94,0.08,NaN,0
3526698,2011-11-27,MAC000157,12.328,13.54,256,5.76,0.42,5.48,1021.11,13.54,...,1.31,13.54,1.0,1.31,4.47,13.54,2.94,0.08,NaN,0
3526699,2011-11-27,MAC000158,3.638,13.54,256,5.76,0.42,5.48,1021.11,13.54,...,1.31,13.54,1.0,1.31,4.47,13.54,2.94,0.08,NaN,0
3526700,2011-11-27,MAC000146,5.740,13.54,256,5.76,0.42,5.48,1021.11,13.54,...,1.31,13.54,1.0,1.31,4.47,13.54,2.94,0.08,NaN,0
3526701,2011-11-27,MAC000171,1.119,13.54,256,5.76,0.42,5.48,1021.11,13.54,...,1.31,13.54,1.0,1.31,4.47,13.54,2.94,0.08,NaN,0
3526702,2011-11-27,MAC000154,8.905,13.54,256,5.76,0.42,5.48,1021.11,13.54,...,1.31,13.54,1.0,1.31,4.47,13.54,2.94,0.08,NaN,0
3526703,2011-11-27,MAC000166,11.077,13.54,256,5.76,0.42,5.48,1021.11,13.54,...,1.31,13.54,1.0,1.31,4.47,13.54,2.94,0.08,NaN,0
3526704,2011-11-27,MAC000174,30.298,13.54,256,5.76,0.42,5.48,1021.11,13.54,...,1.31,13.54,1.0,1.31,4.47,13.54,2.94,0.08,NaN,0
3526705,2011-11-27,MAC000162,3.500,13.54,256,5.76,0.42,5.48,1021.11,13.54,...,1.31,13.54,1.0,1.31,4.47,13.54,2.94,0.08,NaN,0
3526706,2011-11-27,MAC000178,19.171,13.54,256,5.76,0.42,5.48,1021.11,13.54,...,1.31,13.54,1.0,1.31,4.47,13.54,2.94,0.08,NaN,0

In [35]:
weather_energy_holiday['Isholiday'].unique()

array([0, 1], dtype=int64)

In [36]:
weather_energy_holiday['DayOfWeek'] = pd.to_datetime(weather_energy_holiday['day']).dt.dayofweek  # monday = 0, sunday = 6
weather_energy_holiday['Isweekend'] = 0          # Initialize the column with default value of 0
weather_energy_holiday.loc[weather_energy_holiday['DayOfWeek'].isin([5, 6]), 'Isweekend'] = 1  # 5 and 6 correspond to Sat and Sun

In [37]:
weather_energy_holiday.head(7)

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,Type,Isholiday,DayOfWeek,Isweekend
0,2012-10-12,MAC000002,7.098,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.0,2.81,6.41,11.53,4.01,0.92,NaN,0,4,0
1,2012-10-12,MAC000246,17.245,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.0,2.81,6.41,11.53,4.01,0.92,NaN,0,4,0
2,2012-10-12,MAC000450,91.267,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.0,2.81,6.41,11.53,4.01,0.92,NaN,0,4,0
3,2012-10-12,MAC001074,23.145,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.0,2.81,6.41,11.53,4.01,0.92,NaN,0,4,0
4,2012-10-12,MAC003223,15.783,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.0,2.81,6.41,11.53,4.01,0.92,NaN,0,4,0
5,2012-10-12,MAC003239,6.696,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.0,2.81,6.41,11.53,4.01,0.92,NaN,0,4,0
6,2012-10-12,MAC003252,11.320,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.0,2.81,6.41,11.53,4.01,0.92,NaN,0,4,0

In [38]:
weather_energy_holiday.drop(['Type','DayOfWeek'],axis=1,inplace=True)

we can make one column of holiday + weekend = "holiday"

In [39]:
weather_energy_holiday["holiday"] = weather_energy_holiday["Isholiday"]+weather_energy_holiday["Isweekend"]
weather_energy_holiday.loc[weather_energy_holiday["holiday"]==2, ["holiday"]]=1

In [40]:
weather_energy_holiday["holiday"].unique()

array([0, 1], dtype=int64)

In [41]:
weather_energy_holiday.columns

Index(['day', 'LCLid', 'energy_sum', 'temperatureMax', 'windBearing',
       'dewPoint', 'cloudCover', 'windSpeed', 'pressure',
       'apparentTemperatureHigh', 'visibility', 'humidity',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex',
       'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'apparentTemperatureMin', 'moonPhase', 'Isholiday', 'Isweekend',
       'holiday'],
      dtype='object')

In [42]:
weather_energy_holiday.drop(['Isholiday','Isweekend'],axis=1,inplace=True)

In [43]:
weather_energy_holiday.head(3)

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday
0,2012-10-12,MAC000002,7.098,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92,0
1,2012-10-12,MAC000246,17.245,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92,0
2,2012-10-12,MAC000450,91.267,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,0.84,1.64,11.53,2.0,2.81,6.41,11.53,4.01,0.92,0

In [44]:
weather_energy_holiday.shape

(3526707, 21)

In [45]:
weather_energy_holiday.holiday.unique()

array([0, 1], dtype=int64)

In [46]:
weather_energy_holiday.to_csv("D:/Project/smart-meters-in-london/outputfiles2/weather_energy_holiday.csv",index = False)

In [47]:
finaldf=weather_energy_holiday.merge(household_info,on="LCLid",how="left")

In [48]:
finaldf.shape

(3526707, 25)

In [49]:
finaldf.head(4)

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,stdorToU,Acorn,Acorn_grouped,file
0,2012-10-12,MAC000002,7.098,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,ACORN-A,Affluent,block_0
1,2012-10-12,MAC000246,17.245,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,ACORN-A,Affluent,block_0
2,2012-10-12,MAC000450,91.267,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,ACORN-A,Affluent,block_0
3,2012-10-12,MAC001074,23.145,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,ToU,ACORN-,ACORN-,block_0

In [50]:
finaldf.columns

Index(['day', 'LCLid', 'energy_sum', 'temperatureMax', 'windBearing',
       'dewPoint', 'cloudCover', 'windSpeed', 'pressure',
       'apparentTemperatureHigh', 'visibility', 'humidity',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex',
       'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'apparentTemperatureMin', 'moonPhase', 'holiday', 'stdorToU', 'Acorn',
       'Acorn_grouped', 'file'],
      dtype='object')

I have assumed the ACORN Category 'ACORN-U' to be 'NotPrivateHouseholds'

In [51]:
finaldf['AcornCategory']=pd.DataFrame(["AffluentAcheivers" if i in ['ACORN-A', 'ACORN-B', 'ACORN-C'] 
                                       else "RisingProsperity" if i in ['ACORN-D', 'ACORN-E'] 
                                       else "ComfortableCommunities" if i in ['ACORN-F', 'ACORN-G', 'ACORN-H', 'ACORN-I', 'ACORN-J'] 
                                       else "FinanciallyStretched" if i in ['ACORN-K','ACORN-L', 'ACORN-M', 'ACORN-N']
                                       else "UrbanAdversity" if i in ['ACORN-O', 'ACORN-P', 'ACORN-Q']
                                       else "NotPrivateHouseholds" if i in ['ACORN-U','ACORN-'] else i for i in finaldf.Acorn])

In [52]:
finaldf['AcornCategory'].unique()

array(['AffluentAcheivers', 'NotPrivateHouseholds', 'RisingProsperity',
       'ComfortableCommunities', 'FinanciallyStretched', 'UrbanAdversity'],
      dtype=object)

In [53]:
finaldf.drop(['Acorn_grouped'],axis=1,inplace=True)

In [54]:
finaldf.head(4)

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,stdorToU,Acorn,file,AcornCategory
0,2012-10-12,MAC000002,7.098,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,ACORN-A,block_0,AffluentAcheivers
1,2012-10-12,MAC000246,17.245,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,ACORN-A,block_0,AffluentAcheivers
2,2012-10-12,MAC000450,91.267,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,ACORN-A,block_0,AffluentAcheivers
3,2012-10-12,MAC001074,23.145,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,ToU,ACORN-,block_0,NotPrivateHouseholds

In [55]:
finaldf.rename(columns={"Acorn":"AcornGroup","stdorToU":"Tariff"},inplace=True)

I have assumed the ACORN Groups 'ACORN-U' and 'ACORN-' to be 'NotPrivateHouseholds'

In [56]:
finaldf['AcornGroup']=finaldf['AcornGroup'].map({'ACORN-A':' LavishLifestyles', 'ACORN-':'NotPrivateHouseholds', 'ACORN-B':'ExecutiveWealth', 'ACORN-C':'MatureMoney', 'ACORN-D':'CitySophisticates', 'ACORN-E':'CareerClimbers',
       'ACORN-F':'CountrysideCommunities', 'ACORN-G':'SuccessfulSuburbs', 'ACORN-H':'SteadyNeighbourhoods', 'ACORN-I':'ComfortableSeniors', 'ACORN-J':'StartingOut', 'ACORN-K':'StudentLife',
       'ACORN-L':'ModestMeans', 'ACORN-M':'StrivingFamilies', 'ACORN-N':'PoorerPensioners', 'ACORN-O':'YoungHardship', 'ACORN-P':'StrugglingEstates', 'ACORN-Q':'DifficultCircumstances',
       'ACORN-U':'NotPrivateHouseholds'})

In [57]:
finaldf['AcornGroup'].unique()

array([' LavishLifestyles', 'NotPrivateHouseholds', 'ExecutiveWealth',
       'MatureMoney', 'CitySophisticates', 'CareerClimbers',
       'CountrysideCommunities', 'SuccessfulSuburbs',
       'SteadyNeighbourhoods', 'ComfortableSeniors', 'StartingOut',
       'StudentLife', 'ModestMeans', 'StrivingFamilies',
       'Poorer Pensioners', 'YoungHardship', 'StrugglingEstates',
       'DifficultCircumstances'], dtype=object)

In [58]:
finaldf['AcornGroup'].nunique()

18

In [59]:
finaldf.head(4)

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,Tariff,AcornGroup,file,AcornCategory
0,2012-10-12,MAC000002,7.098,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,LavishLifestyles,block_0,AffluentAcheivers
1,2012-10-12,MAC000246,17.245,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,LavishLifestyles,block_0,AffluentAcheivers
2,2012-10-12,MAC000450,91.267,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,LavishLifestyles,block_0,AffluentAcheivers
3,2012-10-12,MAC001074,23.145,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,ToU,NotPrivateHouseholds,block_0,NotPrivateHouseholds

In [60]:
finaldf.columns

Index(['day', 'LCLid', 'energy_sum', 'temperatureMax', 'windBearing',
       'dewPoint', 'cloudCover', 'windSpeed', 'pressure',
       'apparentTemperatureHigh', 'visibility', 'humidity',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex',
       'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'apparentTemperatureMin', 'moonPhase', 'holiday', 'Tariff',
       'AcornGroup', 'file', 'AcornCategory'],
      dtype='object')

In [61]:
finaldf.AcornCategory.unique()

array(['AffluentAcheivers', 'NotPrivateHouseholds', 'RisingProsperity',
       'ComfortableCommunities', 'FinanciallyStretched', 'UrbanAdversity'],
      dtype=object)

In [62]:
finaldf['AcornGroup'].unique()

array([' LavishLifestyles', 'NotPrivateHouseholds', 'ExecutiveWealth',
       'MatureMoney', 'CitySophisticates', 'CareerClimbers',
       'CountrysideCommunities', 'SuccessfulSuburbs',
       'SteadyNeighbourhoods', 'ComfortableSeniors', 'StartingOut',
       'StudentLife', 'ModestMeans', 'StrivingFamilies',
       'Poorer Pensioners', 'YoungHardship', 'StrugglingEstates',
       'DifficultCircumstances'], dtype=object)

In [63]:
new=finaldf[finaldf["AcornCategory"]=="AffluentAcheivers"]
#new["AcornGroup"].unique()
len(new)

220367

In [64]:
new=finaldf[finaldf["AcornCategory"]=="RisingProsperity"]
#new["AcornGroup"].unique()
len(new)

1208622

In [65]:
new=finaldf[finaldf["AcornCategory"]=="FinanciallyStretched"]
#new["AcornGroup"].unique()
len(new)

467454

In [66]:
new=finaldf[finaldf["AcornCategory"]=="UrbanAdversity"]
#new["AcornGroup"].unique()
len(new)

664773

In [67]:
new=finaldf[finaldf["AcornCategory"]=="NotPrivateHouseholds"]
len(new)

31025

In [68]:
finaldf.head(4)

,day,LCLid,energy_sum,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,Tariff,AcornGroup,file,AcornCategory
0,2012-10-12,MAC000002,7.098,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,LavishLifestyles,block_0,AffluentAcheivers
1,2012-10-12,MAC000246,17.245,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,LavishLifestyles,block_0,AffluentAcheivers
2,2012-10-12,MAC000450,91.267,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,LavishLifestyles,block_0,AffluentAcheivers
3,2012-10-12,MAC001074,23.145,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,ToU,NotPrivateHouseholds,block_0,NotPrivateHouseholds

In [69]:
finaldf.shape

(3526707, 25)

In [70]:
print(max(finaldf["day"]))
print(min(finaldf["day"]))
finaldf["day"].nunique()
len(finaldf)

2014-02-28
2011-11-23

3526707

In [73]:
finaldf.drop_duplicates(keep='first', inplace = True)

In [74]:
finaldf.shape

(3501219, 25)

In [75]:
finaldf.columns

Index(['day', 'LCLid', 'energy_sum', 'temperatureMax', 'windBearing',
       'dewPoint', 'cloudCover', 'windSpeed', 'pressure',
       'apparentTemperatureHigh', 'visibility', 'humidity',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex',
       'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'apparentTemperatureMin', 'moonPhase', 'holiday', 'Tariff',
       'AcornGroup', 'file', 'AcornCategory'],
      dtype='object')

In [76]:
finaldf.rename(columns={'energy_sum':'TotEnergyPerDay'},inplace = True)
finaldf.head()

,day,LCLid,TotEnergyPerDay,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,Tariff,AcornGroup,file,AcornCategory
0,2012-10-12,MAC000002,7.098,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,LavishLifestyles,block_0,AffluentAcheivers
1,2012-10-12,MAC000246,17.245,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,LavishLifestyles,block_0,AffluentAcheivers
2,2012-10-12,MAC000450,91.267,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,LavishLifestyles,block_0,AffluentAcheivers
3,2012-10-12,MAC001074,23.145,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,ToU,NotPrivateHouseholds,block_0,NotPrivateHouseholds
4,2012-10-12,MAC003223,15.783,11.53,252,6.15,0.29,2.18,1004.92,11.53,...,2.81,6.41,11.53,4.01,0.92,0,Std,LavishLifestyles,block_0,AffluentAcheivers

In [91]:
finaldf.to_csv("D:/Project/smart-meters-in-london/outputfiles2/finaldf.csv",index=False)

In [77]:
housecount = finaldf.groupby("day")[["LCLid"]].count()
housecount.rename(columns={"LCLid":"housecount"}, inplace=True)
housecount.head()

            housecount
day
2011-11-23          13
2011-11-24          25
2011-11-25          32
2011-11-26          41
2011-11-27          41

In [78]:
finaldfEnergySum=finaldf.groupby(["day"])[['TotEnergyPerDay']].sum()

In [79]:
finaldfmean = finaldf.groupby("day").mean()
finaldfmean.drop(["TotEnergyPerDay"], axis=1, inplace = True)
finaldfmean.holiday = finaldfmean.holiday.astype(int)

In [80]:
finaldfdata=finaldfmean.merge(housecount,on="day")
finaldfdata=finaldfdata.merge(finaldfEnergySum,on="day")
finaldfdata.head()

,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,housecount,TotEnergyPerDay
day,,,,,,,,,,,,,,,,,,,,
2011-11-23,10.36,229.0,6.29,0.36,2.04,1027.12,10.36,8.06,0.93,6.56,10.36,1.0,8.24,3.81,10.36,2.18,0.94,0,13,90.385000
2011-11-24,12.93,204.0,8.56,0.41,4.04,1027.22,12.93,10.64,0.89,7.30,12.93,1.0,9.71,8.56,12.93,7.01,0.97,0,25,213.412000
2011-11-25,13.03,243.0,7.24,0.48,5.02,1024.47,12.27,12.38,0.79,4.69,13.03,1.0,7.01,7.46,12.27,4.84,0.01,0,32,303.993000
2011-11-26,12.96,237.0,6.96,0.44,5.75,1025.80,12.96,13.07,0.81,11.59,12.96,1.0,11.59,7.01,12.96,4.69,0.05,1,41,420.976000
2011-11-27,13.54,256.0,5.76,0.42,5.48,1021.11,13.54,13.08,0.72,1.31,13.54,1.0,1.31,4.47,13.54,2.94,0.08,1,41,444.883001

In [81]:
finaldfdata["AvgEnergyPerDay"] = [i / j for i, j in zip( finaldfdata["TotEnergyPerDay"], finaldfdata["housecount"])]
finaldfdata.head()
finaldfdata.tail()

,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,apparentTemperatureLow,...,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,housecount,TotEnergyPerDay,AvgEnergyPerDay
day,,,,,,,,,,,,,,,,,,,,,
2014-02-24,14.23,183.0,6.03,0.50,5.02,1005.19,14.23,13.00,0.74,4.78,...,1.0,8.25,7.99,14.23,5.52,0.82,0,4994,51994.547004,10.411403
2014-02-25,11.43,202.0,5.06,0.62,5.69,1000.65,10.31,12.09,0.78,1.67,...,1.0,4.17,6.79,10.31,3.89,0.86,0,4995,51423.508001,10.294997
2014-02-26,11.29,227.0,2.74,0.26,3.82,1012.73,11.29,13.00,0.73,3.03,...,2.0,6.01,4.17,11.29,1.67,0.90,0,4993,50943.305995,10.202945
2014-02-27,10.31,224.0,3.08,0.32,4.14,1007.02,10.31,12.04,0.74,0.82,...,2.0,3.43,3.93,10.31,1.41,0.93,0,4990,51678.185998,10.356350
2014-02-28,7.35,61.0,3.11,0.67,2.24,998.92,4.51,10.80,0.86,0.76,...,1.0,3.05,3.43,7.35,0.82,0.97,0,4987,1042.266000,0.208997

In [83]:
finaldfdata.reset_index(inplace = True)

,day,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,...,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,housecount,TotEnergyPerDay,AvgEnergyPerDay
821,2014-02-24,14.23,183.0,6.03,0.50,5.02,1005.19,14.23,13.00,0.74,...,1.0,8.25,7.99,14.23,5.52,0.82,0,4994,51994.547004,10.411403
822,2014-02-25,11.43,202.0,5.06,0.62,5.69,1000.65,10.31,12.09,0.78,...,1.0,4.17,6.79,10.31,3.89,0.86,0,4995,51423.508001,10.294997
823,2014-02-26,11.29,227.0,2.74,0.26,3.82,1012.73,11.29,13.00,0.73,...,2.0,6.01,4.17,11.29,1.67,0.90,0,4993,50943.305995,10.202945
824,2014-02-27,10.31,224.0,3.08,0.32,4.14,1007.02,10.31,12.04,0.74,...,2.0,3.43,3.93,10.31,1.41,0.93,0,4990,51678.185998,10.356350
825,2014-02-28,7.35,61.0,3.11,0.67,2.24,998.92,4.51,10.80,0.86,...,1.0,3.05,3.43,7.35,0.82,0.97,0,4987,1042.266000,0.208997

In [86]:
finaldfdata = finaldfdata[finaldfdata["day"]!="2014-02-28"]
finaldfdata.tail()

,day,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,...,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,housecount,TotEnergyPerDay,AvgEnergyPerDay,month,date
820,2014-02-23,11.94,200.0,6.17,0.66,7.10,1010.37,11.94,12.33,0.76,...,8.67,11.94,5.53,0.78,1,4998,57379.092995,11.480411,2,23
821,2014-02-24,14.23,183.0,6.03,0.50,5.02,1005.19,14.23,13.00,0.74,...,7.99,14.23,5.52,0.82,0,4994,51994.547004,10.411403,2,24
822,2014-02-25,11.43,202.0,5.06,0.62,5.69,1000.65,10.31,12.09,0.78,...,6.79,10.31,3.89,0.86,0,4995,51423.508001,10.294997,2,25
823,2014-02-26,11.29,227.0,2.74,0.26,3.82,1012.73,11.29,13.00,0.73,...,4.17,11.29,1.67,0.90,0,4993,50943.305995,10.202945,2,26
824,2014-02-27,10.31,224.0,3.08,0.32,4.14,1007.02,10.31,12.04,0.74,...,3.93,10.31,1.41,0.93,0,4990,51678.185998,10.356350,2,27

In [84]:
finaldfdata['day'] = pd.to_datetime(finaldfdata["day"])
finaldfdata["month"] = finaldfdata["day"].dt.month
finaldfdata["date"] = finaldfdata["day"].dt.day

In [87]:
print("maximum date :", max(finaldfdata["day"]))
print("minimum date :", min(finaldfdata["day"]))

maximum date : 2014-02-27 00:00:00
minimum date : 2011-11-23 00:00:00

In [88]:
finaldfdata.columns

Index(['day', 'temperatureMax', 'windBearing', 'dewPoint', 'cloudCover',
       'windSpeed', 'pressure', 'apparentTemperatureHigh', 'visibility',
       'humidity', 'apparentTemperatureLow', 'apparentTemperatureMax',
       'uvIndex', 'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'apparentTemperatureMin', 'moonPhase', 'holiday', 'housecount',
       'TotEnergyPerDay', 'AvgEnergyPerDay', 'month', 'date'],
      dtype='object')

In [93]:
finaldfdata.shape

(825, 24)

In [92]:
finaldfdata.tail()

,day,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,...,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,housecount,TotEnergyPerDay,AvgEnergyPerDay,month,date
820,2014-02-23,11.94,200.0,6.17,0.66,7.10,1010.37,11.94,12.33,0.76,...,8.67,11.94,5.53,0.78,1,4998,57379.092995,11.480411,2,23
821,2014-02-24,14.23,183.0,6.03,0.50,5.02,1005.19,14.23,13.00,0.74,...,7.99,14.23,5.52,0.82,0,4994,51994.547004,10.411403,2,24
822,2014-02-25,11.43,202.0,5.06,0.62,5.69,1000.65,10.31,12.09,0.78,...,6.79,10.31,3.89,0.86,0,4995,51423.508001,10.294997,2,25
823,2014-02-26,11.29,227.0,2.74,0.26,3.82,1012.73,11.29,13.00,0.73,...,4.17,11.29,1.67,0.90,0,4993,50943.305995,10.202945,2,26
824,2014-02-27,10.31,224.0,3.08,0.32,4.14,1007.02,10.31,12.04,0.74,...,3.93,10.31,1.41,0.93,0,4990,51678.185998,10.356350,2,27

In [95]:
finaldfdata.to_csv("D:/Project/smart-meters-in-london/outputfiles2/finaldfdata.csv",index=False)